
<main class="mt-5">
    <div class="card d-flex"  style="width: 80%; margin: 0 auto;">
        <div class="card-body my-3">
            <h1 class="card-title" style="text-align: center;">Applicants at {{dataSource?.title}} role</h1>
                <div>
                    <ul class="list-group my-5" *ngFor="let newItem of dataSourcePeople">
                        <li class="list-group-item active" >
                            <h2>{{newItem.firstName}} {{newItem.lastName}}</h2>
                        </li>
                        <li class="list-group-item">
                            <span>Phone: </span>{{newItem.phone}}
                        </li>
                        <li class="list-group-item">
                            <span>Location: </span> {{newItem.location}}
                        </li>
                        <li class="list-group-item">
                            <span>Email: </span> {{newItem.email}}
                        </li>
                        <li class="list-group-item">
                            <span>Years of experience: </span> {{newItem.yearsOfExperience}}
                        </li>
                        <li class="list-group-item d-flex justify-content-end">
                            <button class="btn btn-outline-primary mx-2"[routerLink]="['/company', dataSource?.companyId,'job', dataSource?.id, 'people', newItem.id, 'skill']">Skills</button>
                            <button class="btn btn-outline-primary mx-2"[routerLink]="['/company', dataSource?.companyId,'job', dataSource?.id, 'people', newItem.id, 'edit']">Edit people</button>                            
                            <div *ngIf="!newItem.preparingDelete" (click)="newItem.preparingDelete = true">
                                <button class="btn btn-outline-primary mx-2" (click)="deleteItem(newItem)">Remove people</button>
                            </div>
    
                        </li>
                    </ul>
                </div>
                <div class="list-group-item d-flex ">
                    <div class="flex-grow-1 ">
                        <button  class="btn btn-primary mx-2" (click)="navigateToAddPeoplePage()">Add new people</button>            
                    </div>
                </div>

            </div>  
        </div>
    </main>
    