<section class="mt-5">
    <h1 style="text-align: center;">Add new skill</h1>
    <form [formGroup]="addSkillForm" (ngSubmit)="onAddSubmit()">
        <div class="card my-5" style="width: 30%; margin: 0 auto;">        
            <mat-form-field class="my-1 mx-3 mt-3" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="name?.invalid">The name needs to have at least {{name?.errors?.minlength?.requiredLength}} characters.</mat-error>
          </mat-form-field>
          <mat-form-field class="my-1 mx-3" appearance="fill">
            <mat-label>Level</mat-label>
            <input matInput formControlName="level">
            <mat-error *ngIf="level?.invalid"> Skill level is required</mat-error>
          </mat-form-field>
          <mat-form-field class="my-1 mx-3" appearance="fill">
            <mat-label>Type</mat-label>
            <input matInput formControlName="type">
            <mat-error *ngIf="type?.invalid"> Type is required</mat-error>
          </mat-form-field>
            <button  class="btn btn-primary m-3" mat-raised-button color="primary" type="submit" [disabled]="addSkillForm?.invalid">Add</button>
      </div>
</form>
</section>
